In [1]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import cross_val_score, cross_val_predict
#from sklearn.cluster import KMeans, OPTICS, AffinityPropagation

In [2]:
#Week 4-10 nov: smsin traffic
#data = pd.read_csv("../csv/randomgrid/classif-randomgridweek_smsin.csv")
#data = pd.read_csv("../csv/20x20/classif20x20week_smsin.csv")
data = pd.read_csv("../csv/15x15/classif_15x15week_smsin.csv")

#data = pd.read_csv("../csv/randomgrid/classif-randomgridweekminute_smsin.csv")
#data = pd.read_csv("../csv/20x20/classif20x20weekminute_smsin.csv")
data.head()

,Unnamed: 0,cellid,smsin0,smsin1,smsin2,smsin3,smsin4,smsin5,smsin6,smsin7,...,smsin159,smsin160,smsin161,smsin162,smsin163,smsin164,smsin165,smsin166,smsin167,WHF
0,0,4379,0.000271,0.000143,0.000000,0.000006,0.000113,0.000147,0.000346,0.001430,...,0.002923,0.002469,0.002598,0.002518,0.002348,0.002619,0.001815,0.002024,0.001735,1
1,1,4380,0.001056,0.000223,0.000020,0.000001,0.000114,0.000217,0.000716,0.002475,...,0.007611,0.003966,0.005355,0.004531,0.004377,0.003950,0.003917,0.004002,0.003370,0
2,2,4381,0.000902,0.000414,0.000037,0.000021,0.000062,0.000221,0.000631,0.002470,...,0.003016,0.002226,0.003823,0.004464,0.004906,0.002254,0.001952,0.003314,0.001623,1
3,3,4382,0.001677,0.001194,0.000559,0.000319,0.000158,0.000487,0.001759,0.008300,...,0.010065,0.009400,0.012129,0.015210,0.012875,0.011516,0.008821,0.008677,0.006654,1
4,4,4383,0.001797,0.001179,0.000504,0.000280,0.000170,0.000510,0.001917,0.008836,...,0.010457,0.009632,0.012677,0.014675,0.012577,0.011892,0.009346,0.008881,0.007549,1

In [3]:
y = data.iloc[:,170] #h/w
x = data.iloc[:,2:170] #smsin for the whole week (24x7)
#y = data.iloc[:,1010] #h/w
#x = data.iloc[:,2:1010] #smsin for the whole week (24x7)

In [4]:
#kNN classification
knn = KNeighborsClassifier(n_neighbors=10)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [5]:
#y_pred = cross_val_predict(knn, x, y, cv=10)

In [6]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %f accuracy with a standard deviation of %f" % (scores2.mean(), scores2.std()))
print(scores2)

5 fold: 0.50 accuracy with a standard deviation of 0.05
10 fold: 0.475692 accuracy with a standard deviation of 0.092902
[0.47826087 0.52173913 0.47826087 0.39130435 0.47826087 0.31818182
 0.54545455 0.40909091 0.45454545 0.68181818]

In [7]:
#Week 4-10 nov: smsout traffic
#data = pd.read_csv("../csv/randomgrid/classif-randomgridweek_smsout.csv")
#data = pd.read_csv("../csv/20x20/classif20x20week_smsout.csv")
data = pd.read_csv("../csv/15x15/classif_15x15week_smsout.csv")

#data = pd.read_csv("../csv/randomgrid/classif-randomgridweekminute_smsout.csv")
#data = pd.read_csv("../csv/20x20/classif20x20weekminute_smsout.csv")
data.head()

,Unnamed: 0,cellid,smsout0,smsout1,smsout2,smsout3,smsout4,smsout5,smsout6,smsout7,...,smsout159,smsout160,smsout161,smsout162,smsout163,smsout164,smsout165,smsout166,smsout167,WHF
0,0,4379,0.000506,0.000249,0.000010,0.000002,0.000048,0.000005,0.000482,0.001283,...,0.002862,0.002439,0.003084,0.003064,0.003141,0.002870,0.003125,0.003495,0.002431,1
1,1,4380,0.001622,0.001365,0.010339,0.011154,0.010858,0.011243,0.008890,0.002497,...,0.003439,0.003563,0.004207,0.003836,0.005274,0.005131,0.005596,0.004784,0.003939,0
2,2,4381,0.001115,0.000370,0.000138,0.000000,0.000008,0.000008,0.000418,0.002093,...,0.001713,0.001810,0.002875,0.003274,0.003593,0.002848,0.002891,0.003419,0.002221,1
3,3,4382,0.001870,0.001042,0.001751,0.000000,0.000118,0.000118,0.001525,0.011887,...,0.009370,0.006391,0.012647,0.014738,0.008002,0.012733,0.016100,0.012781,0.008704,1
4,4,4383,0.002081,0.001223,0.001724,0.000019,0.000104,0.000402,0.001724,0.013061,...,0.010220,0.006623,0.013812,0.015594,0.008274,0.013636,0.017103,0.013222,0.009698,1

In [8]:
y = data.iloc[:,170] #h/w
x = data.iloc[:,2:170] #smsin for the whole week (24x7)
#y = data.iloc[:,1010] #h/w
#x = data.iloc[:,2:1010] #smsin for the whole week (24x7)

In [9]:
knn = KNeighborsClassifier(n_neighbors=10)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [10]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %f accuracy with a standard deviation of %f" % (scores2.mean(), scores2.std()))
print(scores2)

5 fold: 0.45 accuracy with a standard deviation of 0.07
10 fold: 0.470751 accuracy with a standard deviation of 0.076469
[0.60869565 0.34782609 0.43478261 0.52173913 0.52173913 0.45454545
 0.54545455 0.45454545 0.36363636 0.45454545]

In [11]:
#Week 4-10 nov: callin traffic
#data = pd.read_csv("../csv/randomgrid/classif-randomgridweek_callin.csv")
#data = pd.read_csv("../csv/20x20/classif20x20week_callin.csv")
data = pd.read_csv("../csv/15x15/classif_15x15week_callin.csv")

#data = pd.read_csv("../csv/randomgrid/classif-randomgridweekminute_callin.csv")
#data = pd.read_csv("../csv/20x20/classif20x20weekminute_callin.csv")
data.head()

,Unnamed: 0,cellid,callin0,callin1,callin2,callin3,callin4,callin5,callin6,callin7,...,callin159,callin160,callin161,callin162,callin163,callin164,callin165,callin166,callin167,WHF
0,0,4379,0.000155,0.000544,0.000089,0.0,0.000000,0.000246,0.000113,0.001591,...,0.003029,0.003375,0.003926,0.003130,0.004401,0.003303,0.001830,0.000926,0.000234,1
1,1,4380,0.000997,0.000351,0.000210,0.0,0.000077,0.000295,0.000254,0.003525,...,0.005029,0.006152,0.006970,0.005427,0.006748,0.005516,0.002763,0.001929,0.000848,0
2,2,4381,0.000277,0.000189,0.000000,0.0,0.000000,0.000165,0.000379,0.003607,...,0.002866,0.003824,0.004779,0.002997,0.003994,0.002909,0.000863,0.001244,0.000228,1
3,3,4382,0.001141,0.000696,0.000000,0.0,0.000000,0.001141,0.002106,0.008316,...,0.013364,0.014574,0.017141,0.014507,0.014341,0.007648,0.005290,0.003926,0.002050,1
4,4,4383,0.001251,0.000656,0.000011,0.0,0.000027,0.001178,0.002014,0.008846,...,0.013533,0.014573,0.017393,0.015147,0.014396,0.008204,0.005502,0.004463,0.002194,1

In [12]:
y = data.iloc[:,170] #h/w
x = data.iloc[:,2:170] #smsin for the whole week (24x7)
#y = data.iloc[:,1010] #h/w
#x = data.iloc[:,2:1010] #smsin for the whole week (24x7)

In [13]:
knn = KNeighborsClassifier(n_neighbors=10)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [14]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %f accuracy with a standard deviation of %f" % (scores2.mean(), scores2.std()))
print(scores2)

5 fold: 0.50 accuracy with a standard deviation of 0.02
10 fold: 0.427668 accuracy with a standard deviation of 0.114161
[0.47826087 0.30434783 0.39130435 0.39130435 0.34782609 0.40909091
 0.72727273 0.36363636 0.36363636 0.5       ]

In [15]:
#Week 4-10 nov: callout traffic
#data = pd.read_csv("../csv/randomgrid/classif-randomgridweek_callout.csv")
#data = pd.read_csv("../csv/20x20/classif20x20week_callout.csv")
data = pd.read_csv("../csv/15x15/classif_15x15week_callout.csv")
data2= data
#data = pd.read_csv("../csv/randomgrid/classif-randomgridweekminute_callout.csv")
#data = pd.read_csv("../csv/20x20/classif20x20weekminute_callout.csv")
data.head()

,Unnamed: 0,cellid,callout0,callout1,callout2,callout3,callout4,callout5,callout6,callout7,...,callout159,callout160,callout161,callout162,callout163,callout164,callout165,callout166,callout167,WHF
0,0,4379,0.000008,0.000076,0.000000,0.000000,0.000004,0.000120,0.000458,0.002231,...,0.002666,0.003135,0.004732,0.004902,0.003023,0.003304,0.001201,0.001365,0.000306,1
1,1,4380,0.000123,0.000045,0.000000,0.000007,0.000000,0.000186,0.000767,0.004996,...,0.005116,0.005814,0.008696,0.008732,0.006267,0.005499,0.002865,0.002565,0.000854,0
2,2,4381,0.000231,0.000031,0.000018,0.000013,0.000000,0.000221,0.000475,0.005183,...,0.002726,0.002513,0.004129,0.004326,0.003293,0.003282,0.001096,0.001258,0.000199,1
3,3,4382,0.000412,0.000390,0.000192,0.000198,0.000000,0.000422,0.001390,0.010834,...,0.011426,0.012338,0.013609,0.013212,0.012724,0.014010,0.007009,0.003186,0.001743,1
4,4,4383,0.000466,0.000421,0.000214,0.000242,0.000000,0.000347,0.001437,0.011198,...,0.014180,0.014981,0.015979,0.015183,0.015074,0.014064,0.007065,0.003328,0.002012,1

In [16]:
y = data.iloc[:,170] #h/w
x = data.iloc[:,2:170] #smsin for the whole week (24x7)
#y = data.iloc[:,1010] #h/w
#x = data.iloc[:,2:1010] #smsin for the whole week (24x7)

In [17]:
knn = KNeighborsClassifier(n_neighbors=10)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

#y_pred = cross_val_predict(knn, x, y, cv=10)

In [18]:
y_pred = cross_val_predict(knn, x, y, cv=10)
#print(y_pred)

In [19]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %f accuracy with a standard deviation of %f" % (scores2.mean(), scores2.std()))
print(scores2)

5 fold: 0.46 accuracy with a standard deviation of 0.03
10 fold: 0.444862 accuracy with a standard deviation of 0.091685
[0.60869565 0.34782609 0.47826087 0.39130435 0.30434783 0.40909091
 0.54545455 0.36363636 0.5        0.5       ]

In [20]:
#Week 4-10 nov: internet traffic
#data = pd.read_csv("../csv/randomgrid/classif-randomgridweek_internet.csv")
#data = pd.read_csv("../csv/20x20/classif20x20week_internet.csv")
data = pd.read_csv("../csv/15x15/classif_15x15week_internet.csv")

#data = pd.read_csv("../csv/randomgrid/classif-randomgridweekminute_internet.csv")
#data = pd.read_csv("../csv/20x20/classif20x20weekminute_internet.csv")
data.head()

,Unnamed: 0,cellid,internet0,internet1,internet2,internet3,internet4,internet5,internet6,internet7,...,internet159,internet160,internet161,internet162,internet163,internet164,internet165,internet166,internet167,WHF
0,0,4379,0.001525,0.001175,0.001092,0.000987,0.001442,0.001272,0.002509,0.004139,...,0.004299,0.003985,0.004011,0.003652,0.003905,0.003017,0.002670,0.002581,0.002058,1
1,1,4380,0.002975,0.002782,0.002415,0.002151,0.002203,0.002393,0.003740,0.006845,...,0.006617,0.006731,0.006290,0.006038,0.007948,0.006144,0.005257,0.005041,0.004916,0
2,2,4381,0.001633,0.000922,0.000745,0.000711,0.000677,0.000982,0.001462,0.002865,...,0.003995,0.004806,0.003339,0.003799,0.004366,0.003665,0.002737,0.002395,0.002115,1
3,3,4382,0.013112,0.007625,0.006392,0.006943,0.006960,0.007904,0.011000,0.015995,...,0.019058,0.017605,0.015346,0.018138,0.014762,0.016560,0.016315,0.014200,0.010795,1
4,4,4383,0.014082,0.007892,0.006652,0.007154,0.007186,0.008021,0.011156,0.016988,...,0.020693,0.018589,0.016243,0.019163,0.015357,0.017804,0.017780,0.015074,0.011570,1

In [21]:
y = data.iloc[:,170] #h/w
x = data.iloc[:,2:170] #smsin for the whole week (24x7)
#y = data.iloc[:,1010] #h/w
#x = data.iloc[:,2:1010] #smsin for the whole week (24x7)

In [22]:
knn = KNeighborsClassifier(n_neighbors=10)
scores1 = cross_val_score(knn, x, y, cv=5)
scores2 = cross_val_score(knn, x, y, cv=10)

In [23]:
print("5 fold: %0.2f accuracy with a standard deviation of %0.2f" % (scores1.mean(), scores1.std()))
print("10 fold: %f accuracy with a standard deviation of %f" % (scores2.mean(), scores2.std()))
print(scores2)

5 fold: 0.41 accuracy with a standard deviation of 0.07
10 fold: 0.471542 accuracy with a standard deviation of 0.091884
[0.47826087 0.56521739 0.39130435 0.43478261 0.39130435 0.54545455
 0.54545455 0.36363636 0.36363636 0.63636364]

In [24]:
#y_pred = cross_val_predict(knn, x, y, cv=10)
#print(y_pred)

In [25]:
predicted = pd.DataFrame(np.transpose(y_pred),columns=['predicted'])
predicted['cellid']=data2.cellid
#predicted.append(np.transpose(y_pred))
predicted.head()

   predicted  cellid
0          1    4379
1          1    4380
2          1    4381
3          1    4382
4          1    4383

In [26]:
predicted.to_csv('../csv/predicted_co15x15_week.csv')

In [27]:
break
#Classify with information from random grid and the 20x20 one
#data = pd.read_csv("../csv/randomgrid/classif-randomgridweek_smsin.csv")
#data2 = pd.read_csv("../csv/15x15/classif15x15week_smsin.csv")
#data = pd.read_csv("../csv/randomgrid/classif-randomgridmonminute_callout.csv")
data2.head()
#random grid, monday(4/11) - callout
#y = data.iloc[:,170] #h/w
#x = data.iloc[:,2:170] #sms, calls, internet
#y2 = data2.iloc[:,170] #h/w
x2 = data2.iloc[:,2:170] #sms, calls, internet

y = pd.concat([y,y2])
x = pd.concat([x,x2])
knn = KNeighborsClassifier(n_neighbors=10)
scores = cross_val_score(knn, x, y, cv=10)
print("10 fold: %f accuracy with a standard deviation of %f" % (scores.mean(), scores.std()))
print(scores)

SyntaxError: 'break' outside loop (2261898013.py, line 1)