In [1]:
import pandas as pd
#import numpy as np
import researchpy as rp
#import scipy.stats as stats

In [2]:
#20x20 svm study
df_callin_poly = pd.read_csv("../ttest/svm_callin.csv", sep=";", decimal=".", header=None)
df_smsin_linear = pd.read_csv("../ttest/svm_smsin.csv", sep=";", decimal=".", header=None)
df_smsout_poly = pd.read_csv("../ttest/svm_smsout.csv", sep=";", decimal=".", header=None)
df_internet_poly = pd.read_csv("../ttest/svm_internet.csv", sep=";", decimal=".", header=None)

In [3]:
svm_si_l = df_smsin_linear.iloc[:, 0]
svm_so_p = df_smsout_poly.iloc[:, 0]
svm_in_p = df_internet_poly.iloc[:, 0]
svm_ci_p = df_callin_poly.iloc[:, 0]

In [4]:
svm_ci_p

0    0.440000
1    0.458333
2    0.500000
3    0.583333
4    0.500000
5    0.500000
6    0.500000
7    0.500000
8    0.458333
9    0.500000
Name: 0, dtype: float64

In [5]:
#SMSIN
rp.ttest(group1=svm_si_l ,group1_name="svm_si_l", group2=svm_so_p, group2_name="svm_so_p")

/opt/homebrew/lib/python3.11/site-packages/researchpy/ttest.py:301: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'svm_si_l' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table.iloc[0,0] = group1_name
/opt/homebrew/lib/python3.11/site-packages/researchpy/ttest.py:460: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Difference (svm_si_l - svm_so_p) = ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table2.iloc[0,0] = f"Difference ({group1_name} - {group2_name}) = "

(   Variable     N      Mean        SD        SE  95% Conf.  Interval
 0  svm_si_l  10.0  0.489667  0.017652  0.005582   0.477039  0.502294
 1  svm_so_p  10.0  0.489667  0.017652  0.005582   0.477039  0.502294
 2  combined  20.0  0.489667  0.017182  0.003842   0.481625  0.497708,
                     Independent t-test  results
 0  Difference (svm_si_l - svm_so_p) =       0.0
 1                Degrees of freedom =      18.0
 2                                 t =       0.0
 3             Two side test p value =       1.0
 4            Difference < 0 p value =       0.5
 5            Difference > 0 p value =       0.5
 6                         Cohen's d =       0.0
 7                         Hedge's g =       0.0
 8                    Glass's delta1 =       0.0
 9                  Point-Biserial r =       0.0)

In [6]:
#SMSOUT
rp.ttest(group1=svm_so_p ,group1_name="svm_so_p", group2=svm_ci_p, group2_name="svm_ci_p")

/opt/homebrew/lib/python3.11/site-packages/researchpy/ttest.py:301: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'svm_so_p' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table.iloc[0,0] = group1_name
/opt/homebrew/lib/python3.11/site-packages/researchpy/ttest.py:460: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Difference (svm_so_p - svm_ci_p) = ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table2.iloc[0,0] = f"Difference ({group1_name} - {group2_name}) = "

(   Variable     N      Mean        SD        SE  95% Conf.  Interval
 0  svm_so_p  10.0  0.489667  0.017652  0.005582   0.477039  0.502294
 1  svm_ci_p  10.0  0.494000  0.038954  0.012318   0.466134  0.521866
 2  combined  20.0  0.491833  0.029518  0.006600   0.478018  0.505648,
                     Independent t-test  results
 0  Difference (svm_so_p - svm_ci_p) =   -0.0043
 1                Degrees of freedom =   18.0000
 2                                 t =   -0.3204
 3             Two side test p value =    0.7523
 4            Difference < 0 p value =    0.3762
 5            Difference > 0 p value =    0.6238
 6                         Cohen's d =   -0.1433
 7                         Hedge's g =   -0.1372
 8                    Glass's delta1 =   -0.2455
 9                  Point-Biserial r =   -0.0753)

In [7]:
#SMSOUT
rp.ttest(group1=svm_so_p ,group1_name="svm_so_p", group2=svm_in_p, group2_name="svm_ci_p")

/opt/homebrew/lib/python3.11/site-packages/researchpy/ttest.py:301: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'svm_so_p' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table.iloc[0,0] = group1_name
/opt/homebrew/lib/python3.11/site-packages/researchpy/ttest.py:460: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Difference (svm_so_p - svm_ci_p) = ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table2.iloc[0,0] = f"Difference ({group1_name} - {group2_name}) = "

(   Variable     N      Mean        SD        SE  95% Conf.  Interval
 0  svm_so_p  10.0  0.489667  0.017652  0.005582   0.477039  0.502294
 1  svm_ci_p  10.0  0.498167  0.041792  0.013216   0.468270  0.528063
 2  combined  20.0  0.493917  0.031527  0.007050   0.479162  0.508672,
                     Independent t-test  results
 0  Difference (svm_so_p - svm_ci_p) =   -0.0085
 1                Degrees of freedom =   18.0000
 2                                 t =   -0.5925
 3             Two side test p value =    0.5609
 4            Difference < 0 p value =    0.2804
 5            Difference > 0 p value =    0.7196
 6                         Cohen's d =   -0.2650
 7                         Hedge's g =   -0.2538
 8                    Glass's delta1 =   -0.4815
 9                  Point-Biserial r =   -0.1383)

In [8]:
#20x20 knn study
df_smsin_knn_ci = pd.read_csv("../ttest/knn_ci_smsin.csv", sep=";", decimal=".", header=None)
df_smsout_knn_ci = pd.read_csv("../ttest/knn_ci_smsout.csv", sep=";", decimal=".", header=None)
df_smsout_knn_manh = pd.read_csv("../ttest/knn_manh_smsout.csv", sep=";", decimal=".", header=None)
df_internet_knn_ci = pd.read_csv("../ttest/knn_ci_internet.csv", sep=";", decimal=".", header=None)
df_internet_knn_manh = pd.read_csv("../ttest/knn_manh_internet.csv", sep=";", decimal=".", header=None)

In [9]:
knn_si_ci = df_smsin_knn_ci.iloc[:, 0]
knn_so_ci = df_smsout_knn_ci.iloc[:, 0]
knn_so_manh = df_smsout_knn_manh.iloc[:, 0]
knn_in_ci = df_internet_knn_ci.iloc[:, 0]
knn_in_manh = df_internet_knn_manh.iloc[:, 0]

In [10]:
#CALLIN
rp.ttest(group1=knn_si_ci ,group1_name="knn_si_ci", group2=knn_so_ci, group2_name="knn_so_ci")

/opt/homebrew/lib/python3.11/site-packages/researchpy/ttest.py:301: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'knn_si_ci' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table.iloc[0,0] = group1_name
/opt/homebrew/lib/python3.11/site-packages/researchpy/ttest.py:460: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Difference (knn_si_ci - knn_so_ci) = ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table2.iloc[0,0] = f"Difference ({group1_name} - {group2_name}) = "

(    Variable     N      Mean        SD        SE  95% Conf.  Interval
 0  knn_si_ci  10.0  0.593167  0.078926  0.024959   0.536707  0.649627
 1  knn_so_ci  10.0  0.576333  0.069583  0.022004   0.526556  0.626110
 2   combined  20.0  0.584750  0.072930  0.016308   0.550618  0.618882,
                       Independent t-test  results
 0  Difference (knn_si_ci - knn_so_ci) =    0.0168
 1                  Degrees of freedom =   18.0000
 2                                   t =    0.5059
 3               Two side test p value =    0.6191
 4              Difference < 0 p value =    0.6905
 5              Difference > 0 p value =    0.3095
 6                           Cohen's d =    0.2263
 7                           Hedge's g =    0.2167
 8                      Glass's delta1 =    0.2133
 9                    Point-Biserial r =    0.1184)

In [11]:
#CALLOUT
rp.ttest(group1=knn_si_ci ,group1_name="knn_si_ci", group2=knn_so_manh, group2_name="knn_so_manh")

/opt/homebrew/lib/python3.11/site-packages/researchpy/ttest.py:301: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'knn_si_ci' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table.iloc[0,0] = group1_name
/opt/homebrew/lib/python3.11/site-packages/researchpy/ttest.py:460: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Difference (knn_si_ci - knn_so_manh) = ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table2.iloc[0,0] = f"Difference ({group1_name} - {group2_name}) = "

(      Variable     N      Mean        SD        SE  95% Conf.  Interval
 0    knn_si_ci  10.0  0.593167  0.078926  0.024959   0.536707  0.649627
 1  knn_so_manh  10.0  0.576667  0.058768  0.018584   0.534626  0.618707
 2     combined  20.0  0.584917  0.068252  0.015262   0.552974  0.616860,
                         Independent t-test  results
 0  Difference (knn_si_ci - knn_so_manh) =    0.0165
 1                    Degrees of freedom =   18.0000
 2                                     t =    0.5303
 3                 Two side test p value =    0.6024
 4                Difference < 0 p value =    0.6988
 5                Difference > 0 p value =    0.3012
 6                             Cohen's d =    0.2371
 7                             Hedge's g =    0.2271
 8                        Glass's delta1 =    0.2091
 9                      Point-Biserial r =    0.1240)

In [12]:
rp.ttest(group1=knn_si_ci ,group1_name="knn_si_ci", group2=knn_in_ci, group2_name="knn_in_cid")

/opt/homebrew/lib/python3.11/site-packages/researchpy/ttest.py:301: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'knn_si_ci' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table.iloc[0,0] = group1_name
/opt/homebrew/lib/python3.11/site-packages/researchpy/ttest.py:460: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Difference (knn_si_ci - knn_in_cid) = ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table2.iloc[0,0] = f"Difference ({group1_name} - {group2_name}) = "

(     Variable     N      Mean        SD        SE  95% Conf.  Interval
 0   knn_si_ci  10.0  0.593167  0.078926  0.024959   0.536707  0.649627
 1  knn_in_cid  10.0  0.560333  0.084783  0.026811   0.499683  0.620983
 2    combined  20.0  0.576750  0.081482  0.018220   0.538615  0.614885,
                        Independent t-test  results
 0  Difference (knn_si_ci - knn_in_cid) =    0.0328
 1                   Degrees of freedom =   18.0000
 2                                    t =    0.8964
 3                Two side test p value =    0.3819
 4               Difference < 0 p value =    0.8091
 5               Difference > 0 p value =    0.1909
 6                            Cohen's d =    0.4009
 7                            Hedge's g =    0.3839
 8                       Glass's delta1 =    0.4160
 9                     Point-Biserial r =    0.2067)

In [13]:
rp.ttest(group1=knn_si_ci ,group1_name="knn_si_ci", group2=knn_in_manh, group2_name="knn_in_manh")

/opt/homebrew/lib/python3.11/site-packages/researchpy/ttest.py:301: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'knn_si_ci' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table.iloc[0,0] = group1_name
/opt/homebrew/lib/python3.11/site-packages/researchpy/ttest.py:460: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Difference (knn_si_ci - knn_in_manh) = ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table2.iloc[0,0] = f"Difference ({group1_name} - {group2_name}) = "

(      Variable     N      Mean        SD        SE  95% Conf.  Interval
 0    knn_si_ci  10.0  0.593167  0.078926  0.024959   0.536707  0.649627
 1  knn_in_manh  10.0  0.556000  0.092139  0.029137   0.490088  0.621912
 2     combined  20.0  0.574583  0.085648  0.019152   0.534499  0.614668,
                         Independent t-test  results
 0  Difference (knn_si_ci - knn_in_manh) =    0.0372
 1                    Degrees of freedom =   18.0000
 2                                     t =    0.9688
 3                 Two side test p value =    0.3455
 4                Difference < 0 p value =    0.8272
 5                Difference > 0 p value =    0.1728
 6                             Cohen's d =    0.4332
 7                             Hedge's g =    0.4149
 8                        Glass's delta1 =    0.4709
 9                      Point-Biserial r =    0.2226)

In [14]:
#RF ttest
df_smsin_rf200 = pd.read_csv("../ttest/rf_200_smsin.csv", sep=";", decimal=".", header=None)
df_smsin_rf500 = pd.read_csv("../ttest/rf_500_smsin.csv", sep=";", decimal=".", header=None)
df_callin_rf500 = pd.read_csv("../ttest/rf_500_callin.csv", sep=";", decimal=".", header=None)
df_callout_rf750 = pd.read_csv("../ttest/rf_750_callout.csv", sep=";", decimal=".", header=None)

In [15]:
rf200_si = df_smsin_rf200.iloc[:, 0]
rf500_si = df_smsin_rf500.iloc[:, 0]
rf500_ci = df_callin_rf500.iloc[:, 0]
rf750_co = df_callout_rf750.iloc[:, 0]

In [16]:
rp.ttest(group1=rf500_ci ,group1_name="rf500_ci", group2=rf500_si, group2_name="rf500_si")

/opt/homebrew/lib/python3.11/site-packages/researchpy/ttest.py:301: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'rf500_ci' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table.iloc[0,0] = group1_name
/opt/homebrew/lib/python3.11/site-packages/researchpy/ttest.py:460: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Difference (rf500_ci - rf500_si) = ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table2.iloc[0,0] = f"Difference ({group1_name} - {group2_name}) = "

(   Variable     N      Mean        SD        SE  95% Conf.  Interval
 0  rf500_ci  10.0  0.647000  0.115713  0.036592   0.564224  0.729776
 1  rf500_si  10.0  0.605833  0.081276  0.025702   0.547692  0.663974
 2  combined  20.0  0.626417  0.099586  0.022268   0.579809  0.673024,
                     Independent t-test  results
 0  Difference (rf500_ci - rf500_si) =    0.0412
 1                Degrees of freedom =   18.0000
 2                                 t =    0.9206
 3             Two side test p value =    0.3694
 4            Difference < 0 p value =    0.8153
 5            Difference > 0 p value =    0.1847
 6                         Cohen's d =    0.4117
 7                         Hedge's g =    0.3943
 8                    Glass's delta1 =    0.3558
 9                  Point-Biserial r =    0.2121)

In [17]:
rp.ttest(group1=rf500_ci ,group1_name="rf500_ci", group2=rf750_co, group2_name="rf750_co")

/opt/homebrew/lib/python3.11/site-packages/researchpy/ttest.py:301: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'rf500_ci' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table.iloc[0,0] = group1_name
/opt/homebrew/lib/python3.11/site-packages/researchpy/ttest.py:460: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Difference (rf500_ci - rf750_co) = ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table2.iloc[0,0] = f"Difference ({group1_name} - {group2_name}) = "

(   Variable     N      Mean        SD        SE  95% Conf.  Interval
 0  rf500_ci  10.0  0.647000  0.115713  0.036592   0.564224  0.729776
 1  rf750_co  10.0  0.597333  0.106430  0.033656   0.521198  0.673468
 2  combined  20.0  0.622167  0.111162  0.024857   0.570141  0.674192,
                     Independent t-test  results
 0  Difference (rf500_ci - rf750_co) =    0.0497
 1                Degrees of freedom =   18.0000
 2                                 t =    0.9990
 3             Two side test p value =    0.3310
 4            Difference < 0 p value =    0.8345
 5            Difference > 0 p value =    0.1655
 6                         Cohen's d =    0.4468
 7                         Hedge's g =    0.4279
 8                    Glass's delta1 =    0.4292
 9                  Point-Biserial r =    0.2292)

In [18]:
rp.ttest(group1=rf500_ci ,group1_name="rf500_ci", group2=rf200_si, group2_name="rf200_si")

/opt/homebrew/lib/python3.11/site-packages/researchpy/ttest.py:301: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'rf500_ci' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table.iloc[0,0] = group1_name
/opt/homebrew/lib/python3.11/site-packages/researchpy/ttest.py:460: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Difference (rf500_ci - rf200_si) = ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  table2.iloc[0,0] = f"Difference ({group1_name} - {group2_name}) = "

(   Variable     N      Mean        SD        SE  95% Conf.  Interval
 0  rf500_ci  10.0  0.647000  0.115713  0.036592   0.564224  0.729776
 1  rf200_si  10.0  0.593333  0.078055  0.024683   0.537496  0.649171
 2  combined  20.0  0.620167  0.099931  0.022345   0.573397  0.666936,
                     Independent t-test  results
 0  Difference (rf500_ci - rf200_si) =    0.0537
 1                Degrees of freedom =   18.0000
 2                                 t =    1.2159
 3             Two side test p value =    0.2397
 4            Difference < 0 p value =    0.8801
 5            Difference > 0 p value =    0.1199
 6                         Cohen's d =    0.5438
 7                         Hedge's g =    0.5208
 8                    Glass's delta1 =    0.4638
 9                  Point-Biserial r =    0.2755)